<div class="col-sm-12 col-lg-12">
    <div class="page-breadcrumb">
        <div class="row page-titles pb-3 pb-md-0">
            <div class="col-md-6 col-12 align-self-center">
                <h3 class="text-themecolor mb-0 mt-0">Listado de Solicitudes</h3>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="javascript:void(0)">Inicio</a></li>
                    <li class="breadcrumb-item active">Listado de Solicitudes</li>
                </ol>
            </div>
        </div>
        <div class="action-buttons">
            <button class="btn btn-success" (click)="OpenModalAsignacion()" title="Asignación"><i class="fas fa-motorcycle"></i></button>
            <a class="btn btn-danger ml-2" [routerLink]="['../assignreport']" title="Manifiesto de Carga"><i class="fas fa-file-alt"></i></a>
            <button class="btn btn-primary ml-2" (click)="OpenModalRebaja()" title="Rebaja"><i class="fas fa-boxes"></i></button>
            <button class="btn btn-warning ml-2 d-none d-md-inline" (click)="openPrint()" title="Impresión"><i class="fas fa-print"></i></button>
        </div>
    </div>

    <div class="scrollmenu">
        <div class="card">
        <div class="card-body floating-filter">
            <div class="shorcuts">
                <div class="row">
                    <div class="col-lg-1 col-md-3">
                        <div class="form-group row mb-0">
                            <!-- <label class="col-sm-4 col-form-label">Filas:</label> -->
                            <select class="form-control form-control-sm"  (change)="fila($event.target.value)">
                                <option value="5" >5</option>
                                <option selected value="10" >10</option>
                                <option value="25" >25</option>
                                <option value="50" >50</option>
                                <option value="100" >100</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-7 d-none d-md-inline">
                        <div ngbDropdown class="d-inline-block">
                            <button class="btn btn-primary btn-sm" id="dropdownBasic1" (click)="listAll()">Nuevos <span class="badge badge-light">{{overallCount}}</span></button>
                            <div class="btn-group" ngbDropdown role="group" aria-label="Button group with nested dropdown">
                                <button class="btn btn-primary btn-sm dropdown-toggle-split" ngbDropdownToggle></button>
                                <div class="dropdown-menu companies-drop" ngbDropdownMenu>
                                    <table class="w-100">
                                        <tbody>
                                            <tr
                                                *ngFor="let listClient of webSocketData"
                                                (click)="filterTable(listClient.id)"
                                                class="drop-btn"
                                                ngbDropdownItem
                                            >
                                                <td><span class="badge badge-primary">{{listClient.works_orders}}</span></td>
                                                <td>{{listClient.commercial_business}}</td>
                                                <td><button class="btn btn-sm" title="Añadir acceso directo" (click)="createButton(listClient.id, $event)"><i
                                                        class="fas fa-plus"></i></button></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="btn-group ml-2" role="group" *ngFor="let button of buttonsData">
                            <button type="button" class="btn btn-sm btn-primary" (click)="removeButton(button.id)" ><i class="fas fa-times" ></i></button>
                            <button 
                                type="button"
                                class="btn btn-primary btn-sm"
                                (click)="filterTable(button.id)"
                            >
                                {{button.commercial_business}} <span class="badge badge-light">{{button.works_orders}}</span>
                            </button>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-9">
                        <div class="form-group row mb-0">
                            <label class="col-sm-3 col-form-label">Buscar:</label>
                            <div class="col-sm-9">
                                <input
                                    #filterInput
                                    class="form-control form-control-sm"
                                    type="text"
                                    (keyup)="filterTerm.next(filterInput.value)"
                                />
                            </div>
                        </div>
                    </div>
                </div>
                
                <!-- <button 
                    *ngFor="let button of buttonsData"
                    class="btn btn-primary btn-sm ml-2"
                    (click)="filterTable(button.id)" >
                    {{button.name}} <span class="badge badge-light">{{button.works_orders}}</span>
                </button> -->
            </div>
           
            <ngx-datatable
            class="bootstrap"
            [rows]="currentRows"
            [columns]="tableColums"
            columnMode="force"
            [headerHeight]="50"
            [footerHeight]="50"
            rowHeight="auto"
            [scrollbarH]="true"
            [externalPaging]="true"
            [count]="currentPage.count"
            [offset]="currentPage.offset"
            [limit]="currentPage.limit"
            [externalSorting]="true"
            (sort)="doSort($event)"
            (page)="setPage($event)"
        >
        </ngx-datatable>

        <ng-template #selectOt let-row="row" let-value="value">
            <a class="selectOt"
                [routerLink]="['../../operator/solicitudot/', value]" title="Editar OT">{{row.barcode}}
            </a>
        </ng-template>

        <ng-template #columsOrigen let-row="row" let-value="value">
            {{value}} ,{{row.sender_comune}}
        </ng-template>
        <ng-template #columsDestino let-row="row" let-value="value">
            {{value}} ,{{row.receiver_comune}}
        </ng-template>
        <ng-template #columsDia let-row="row" let-value="value">
            {{restaFechas(today,value)}}
        </ng-template>
        <ng-template #columsEstado let-row="row" let-value="value">
            <td [ngClass]="{
                'text-success': value == 'Exitoso',
                'text-danger': value == 'Fallido',
                'text-warning': value == 'Solicitado',
                'text-secondary': value == 'Anulado'
            }">{{value}}</td>
        </ng-template>        
        <ng-template #columsFUE let-row="row" let-value="value">
            {{fechaFormato(value) }}
        </ng-template> 

        <ng-template #btns let-row="row" let-value="value">
            <a 
                type="button"
                class="btn btn-smv p-0" 
                [ngClass]="{
                    'btn-warning': !row.extra_fields.print,
                    'btn-light': row.extra_fields.print
                    }"
                (click)="addRemovePrintQueue(row.barcode, $event)"
                >
                <span class="fa-stack" >
                    <i class="fas fa-print fa-stack-1x"></i>

                    <i [ngClass]="{
                        'text-danger': row.selected || !value,
                        'fa-minus': row.selected,
                        'fa-plus': !row.selected,
                        'text-success': value
                        }" 
                         class="fas bottom-right fa-stack-1x"
                    ></i>
                </span>
            </a>
            &nbsp;
            <a 
                class="btn btn-info  p-1"
                [routerLink]="['../wolist/tracking']"
                [queryParams]="{ barcode: row.barcode}"
                title="Segumiento"
                >
                <i class="fas fa-motorcycle"></i>
            </a>
        </ng-template>

            <!-- <table #tableLisOt datatable class="row-border hover w-100 floating-filter" [dtOptions]="dtOptions">
                <thead>
                <tr>
                    <th>Nº</th>
                    <th>Empresa</th>
                    <th>Origen</th>
                    <th>Destino</th>     
                    <th>Fecha Creación</th>
                    <th>Días</th>
                    <th>Servicio</th>
                    <th>Patente</th>
                    <th>Comuna</th>
                    <th>Estado</th>
                    <th>Fecha último estado</th>
                    <th>Conductor</th>
                    <th></th>
                </tr>
                </thead>
                <tbody *ngIf="currentTablePage?.length != 0">
                    <tr *ngFor="let wo of currentTablePage">
                        <td>
                            <a 
                                [routerLink]="['../../operator/solicitudot/', wo.id]"
                                title="Editar OT">{{wo.barcode}}
                            </a>
                        <td>{{wo.company}}</td>
                        <td>{{wo.sender_address}}, {{wo.sender_comune}}</td>
                        <td>{{wo.receiver_address}}, {{wo.receiver_comune}}</td>
                        <td>{{wo.created_at}}</td>
                        <td>{{restaFechas(today,wo.created_at)}}</td>
                        <td>{{wo.service_name}}</td>
                        <td>{{wo.current_plate}}</td>
                        <td>{{wo.receiver_comune}}</td>
                        <td [ngClass]="{
                            'text-success': wo.current_step.name == 'Exitoso',
                            'text-danger': wo.current_step.name == 'Fallido',
                            'text-warning': wo.current_step.name == 'Solicitado',
                            'text-secondary': wo.current_step.name == 'Anulado'
                        }">{{wo.current_step.name}}</td>
                        <td>{{wo.last_log.created_at | date:'dd-MM-yyyy HH:mm'}}</td>
                        <td>{{wo.transporter}}</td>
                        <td class="text-center text-nowrap">
                            <button 
                                type="button"
                                class="btn btn-smv p-0" 
                                [ngClass]="{
                                    'btn-warning': !wo.extra_fields.print,
                                    'btn-light': wo.extra_fields.print
                                }"
                                (click)="addRemovePrintQueue(wo.barcode, $event)"
                                >
                                <span class="fa-stack" >
                                    <i class="fas fa-print fa-stack-1x"></i>
                                    <i class="fas bottom-right text-success fa-plus fa-stack-1x"></i>
                                </span>
                            </button>
                            &nbsp;
                            <button 
                            class="btn btn-info  p-1"
                            [routerLink]="['../wolist/tracking']"
                            [queryParams]="{ barcode: wo.barcode}"
                            title="Segumiento"
                            >
                            <i class="fas fa-motorcycle"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
                <tbody *ngIf="currentTablePage?.length == 0">
                    <tr>
                        <td colspan="3" class="no-data-available">No se encontraron resultados</td>
                    </tr>
                <tbody>
            </table> -->
        </div>
        </div> 
    </div>
</div>

<!-- Modal Impresión -->
<ng-template #printWO let-modal>
    <div class="modal-header">
        <h5 class="modal-title" id="print-masive">Impresión Masiva</h5>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <p *ngIf="printQueue.length > 0">
            Total seleccionadas: <b>{{printQueue.length}}</b>
        </p>
        <ul style="column-count: 2;">
            <ng-container *ngIf="printQueue.length > 0; else noWO">
                <li *ngFor="let barcode of printQueue">
                    {{barcode}}
                    <a class="text-danger" href="javascript:void(0)" >
                        <i class="fa fa-times px-2"></i>
                    </a>
                </li>
            </ng-container>
            <ng-template #noWO>
                No hay OT seleccionadas
            </ng-template>
        </ul>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-warning pull-left" (click)="clearAllQueue()">Limpiar</button>
        <button type="button" class="btn btn-primary" (click)="printAll()">Imprimir</button>
    </div>
</ng-template>