<div class="mx-auto loginform">
    <div class="logo text-center">
        <span class="db">
            <img alt="logo" src="assets/images/LogoConexxion.png">
        </span>
    </div>
    <div class="row">
        <div class="col-12">
            <form class="form-horizontal m-t-20" ngNativeValidate (ngSubmit)="login()" id="loginform">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1"><i class="ti-user"></i></span>
                    </div>
                    <input  [(ngModel)]="loginData.username" name="username" aria-describedby="basic-addon1" aria-label="Username" class="form-control form-control-lg" placeholder="Usuario Bci" type="text" required>
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon2"><i class="ti-pencil"></i></span>
                    </div>
                    <input [(ngModel)]="loginData.password" name="password" aria-describedby="basic-addon1" aria-label="Password" class="form-control form-control-lg" placeholder="Contraseña" type="password" required>
                </div>
                <div class="form-group row">
                    <div class="col-md-12">
                        <div class="custom-control custom-checkbox">
                            <a class="text-dark"  routerLink="../reset" >
                                <i class="fa fa-lock m-r-5"></i> Recuperar Contraseña
                            </a>
                        </div>
                    </div>
                </div>
                <div class="form-group text-center">
                    <div class="col-xs-12 p-b-20"><button [disabled]="isLoading" class="btn btn-block btn-lg btn-info" type="submit">Entrar</button></div>
                </div>
                <!-- <div style="display: block;color: brown" class="form-group text-center" > Usuario o contraseña incorrecta</div> -->
                <!-- <div class="form-group m-b-0 m-t-10">
                    <div class="col-sm-12 text-center"> No tienes cuenta? <a class="text-info m-l-5" href="#/authentication/signup"><b>Registrate</b></a></div>
                </div> -->
            </form>
        </div>
    </div>
</div>