// In this scss you can overwrite all our scss, we suggested you to add your scss into this, so whenever the update comes it will not affect your code.

.ng-invalid {
    &.ng-touched{
        border-color: #f62d51;
        ~ .invalid-feedback {
            display: block;
        }
    }
}
.ng-autocomplete{
    ~ .invalid-feedback {
        display: block;
    }
}
.dataTable {
  font-size: 14px;
  thead{
    th{
      padding: 8px 18px!important;
    }
  }
  tbody{
    td{
      padding: 4px 5px!important;
    }
  }
}
.dataTables_info, .dataTables_paginate{
  font-size: 14px;
}
.dataTables_paginate{
    .paginate_button{
        padding: 0!important;
        border-radius: 0!important;
        margin: 0!important;
        &.active{
            .page-link{
                color: rgba(0,0,0,.54);
                background-color: rgba(158,158,158,.2);
                font-weight: 500;
                border: none;
                &:hover{
                    color: rgba(0,0,0,.75);
                }
            }
        }
        &:hover{
            color: unset!important;
            border: 1px solid transparent!important;
            background-color: unset!important;
            background: unset!important;
        }
        &:active{
            background-color: unset!important;
            background: unset!important;
            box-shadow: unset!important;
        }
        &.previous, &.next{
            padding: 0 10px!important;
        }
        a {
            height: 22px;
            min-width: 24px;
            line-height: 22px;
            padding: 0 6px;
            border-radius: 3px;
            margin: 6px 3px;
            text-align: center;
            color: rgba(0,0,0,.54);
            text-decoration: none;
            vertical-align: bottom;
            &:hover{
                color: rgba(0,0,0,.75);
                background-color: rgba(158,158,158,.2);
            }
            border: none;
        }
    }
}

.ng-autocomplete {
    width: auto!important;
    .autocomplete-container{
        box-shadow: none;
        height: auto;
        .fx{
            top: 25%!important;
            -webkit-transform: translateY(-25%)!important;
            transform: translateY(-25%)!important;
        }
        input{
            display: block!important;
            width: 100%!important;
            padding: 0.375rem 0.75rem!important;
            font-size: 0.9rem!important;
            line-height: 1.5!important;
            color: #4F5467!important;
            background-color: #fff!important;
            background-clip: padding-box!important;
            border: 1px solid #ced4da!important;
            border-radius: 2px!important;
            transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
            height: auto!important;
            &:focus{
                color: #4F5467!important;
                background-color: #fff!important;
                border-color: #646cc6!important;
                outline: 0!important;
                box-shadow: 0 0 0 0.2rem rgba(46, 52, 124, 0.25)!important;
            }
        }
    }
}
.floating-filter{
    .dataTables_filter{
        position: absolute;
        right: 0;
        top: -35px;
    }
}
.bottom-right{
  position: absolute;
  transform: translate(5px, 5px);
}
.fake-link{
  cursor: pointer;
  &:hover{
      text-decoration: underline;
  }
}
.no-data-available {
  text-align: center;
}

/*
   src/styles.css (i.e. your global style)
*/
.dataTables_empty {
  display: none;
}

// puts the google places autocomplete dropdown results above the bootstrap modal 1050 zindex.
.pac-container {
    z-index: 1051 !important;
}