<div class="col-sm-12 col-lg-12">
    <div class="page-breadcrumb">
        <div class="row page-titles">
            <div class="col-md-6 col-8 align-self-center">
                <h3 class="text-themecolor mb-0 mt-0">Razones de Fallidos</h3>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="javascript:void(0)">Inicio</a></li>
                    <li class="breadcrumb-item active">Listado</li>
                    <!-- <li class="breadcrumb-item active"><a routerLink="../" >Sucursales</a> -->
                </ol>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <table #segmentsTable datatable [dtOptions]="dtOptions" class="row-border hover w-100">
                    <thead>
                        <tr>
                            <th>Razón</th>
                            <th>Predeterminada</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody *ngIf="currentPage?.length != 0">
                        <tr *ngFor="let el of currentPage">
                            <td>{{el.reason}}</td>
                            <td>{{el.default_display}}</td>
                            <td>
                                <a class="btn btn-info btn-sm" [routerLink]="[el.id]" title="Editar">
                                    <i class="fas fa-eye"></i>
                                </a>
                                <button class="btn btn-danger btn-sm ml-2" type="button" title="Eliminar" (click)="delReason(el.id)">
                                    <i class="fas fa-trash"></i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                    <tbody *ngIf="currentPage?.length == 0">
                        <tr>
                            <td colspan="3" class="no-data-available">No se encontraron resultados</td>
                        </tr>
                    <tbody>
                </table>
            </div>
        </div>
    </div>
</div>