<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Rebaja</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<form [formGroup]="formRebaja">
    <div class="modal-body">
        <br>
        <div class="row">
            <div class="col-sm-11 col-center">
                <label>Selecionar estado</label>
                <!-- <label> {{formRebaja.status | json}}  {{formRebaja.value | json}}</label> -->
                <select class="custom-select form-control-sm" formControlName="code" name='code' required>
                    <!-- <option value="" selected > Selecionar</option> -->
                    <option value="0">Anulado</option>
                    <option value="4">Central</option>
                    <option value="6">Exitoso</option>
                    <option value="7">Fallido</option>
                    <option value="9">Cerrado (Generar nueva OT a partir de una fallida)</option>
                </select>
                <div *ngIf="formRebaja.controls['code'].invalid && (formRebaja.controls['code'].dirty || formRebaja.controls['code'].touched)"
                    class="invalid-feedback">
                    Estado requerido
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-sm-11 col-center">
                <label>Observación </label>
                <textarea type="text" class="form-control form-control-sm" placeholder="Ingrese observación rebaja"
                    formControlName="deliver_info" name="deliver_info"></textarea>
                <div *ngIf="formRebaja.controls['deliver_info'].invalid && (formRebaja.controls['deliver_info'].dirty || formRebaja.controls['deliver_info'].touched)"
                    class="invalid-feedback">
                    Observación requerida
                </div>
            </div>
            <br>
        </div>
        <br>
        <div class="row">
            <div class="col-sm-11 col-center">
                <label>Código de barras</label>
                <input type="text" class="form-control form-control-sm" formControlName="barcode"
                    placeholder="Ingrese código de barras " name="barcode" (keyup.enter)="saveRebaja()" autofocus required
                    autocomplete="off" required>
                <div *ngIf="formRebaja.controls['barcode'].invalid && (formRebaja.controls['barcode'].dirty || formRebaja.controls['barcode'].touched)"
                    class="invalid-feedback">
                    Código de barras requerido
                </div>
            </div>
            <br>
        </div>
        <br>
        <div class="row">
            <div class="col-sm-11 col-center">
                <table #tableRebaja datatable [dtOptions]="dtOptionsDataTableRebaja" [dtTrigger]="dtTrigger" class="table no-wrap w-100">
                    <thead>
                        <tr>
                            <th>Estado</th>
                            <th>Obs</th>
                            <th>Cod. barras</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- <ng-template [ngIf]="!dataTableRebajaStatus">
                            <tr class="odd">
                                <td valign="top" colspan="3" class="dataTables_empty text-center">Ningún dato disponible en esta tabla</td>
                            </tr>
                        </ng-template> -->
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- <div class="modal-footer"> -->
    <!-- <button type="submit" [disabled]="asigFrom.valid!" class="btn btn-outline-dark">Guardar</button>  -->
    <!-- </div> -->
</form>