<div class="col-sm-12 col-lg-12">
    <div class="page-breadcrumb">
        <div class="row page-titles">
            <div class="col-md-6 col-8 align-self-center">
                <h3 class="text-themecolor mb-0 mt-0">Productos</h3>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="javascript:void(0)">Inicio</a></li>
                    <li class="breadcrumb-item active"><a routerLink="../" >Listado</a>
                    <li class="breadcrumb-item active">Productos</li>
                </ol>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <div class="text-left">
                    <h4 class="card-title"><strong>{{productForm.value.name}}</strong></h4>
                </div>
                <form [formGroup]="productForm" class="mt-1" (ngSubmit)="saveOrCreate()">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 mt-1">
                            <label><strong>Nombre</strong></label>
                            <input type="text" class="form-control" formControlName="name" name="name"
                                placeholder="Ingrese Nombre" required>
                            <div *ngIf="productForm.controls['name'].invalid && (productForm.controls['name'].dirty || productForm.controls['name'].touched)"
                                class="invalid-feedback">
                                Nombre requerido
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 mt-1">
                            <label><strong>Estado</strong></label>
                            <select type="text" class="form-control" formControlName="status" name="status" required>
                                <option value="active">Activo</option>
                                <option value="disabled">Desactivado</option>
                            </select>
                            <div *ngIf="productForm.controls['status'].invalid && (productForm.controls['status'].dirty || productForm.controls['status'].touched)"
                                class="invalid-feedback">
                                Nombre requerido
                            </div>
                        </div>
                    </div>
                    <div class="row d-flex flex-row-reverse mt-2">
                        <div class="col-2">
                            <button class="btn btn-block btn-sm btn-success text-white" [disabled]="!productForm.valid || isLoading" type="submit">Guardar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>