
<div class="col-sm-12 col-lg-12">
    <div class="page-breadcrumb">
        <div class="row page-titles">
            <div class="col-md-6 col-8 align-self-center">
                <h3 class="text-themecolor mb-0 mt-0">Actualizar de OT</h3>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="javascript:void(0)">Inicio</a></li>
                    <li class="breadcrumb-item active"><a routerLink="../../dashboard" >Listado OT</a></li>
                    <li class="breadcrumb-item active">Actualizar de OT</li>
                </ol>
            </div>
        </div>
        <div class="card">
          <div class="card-body">
              <img src="./../../../../assets/images/LogoConexxion.png">
              <div>
                  <h4 class="card-title text-right"><strong>{{codBarra}}</strong></h4>
              </div>
             <div class="text-center">
                <h3 class="card-title"><strong>Orden de transporte</strong></h3>

            </div>
            <form class="mt-4" [formGroup]="formOT"  (ngSubmit)="ReplaceOt()" >
                <div class="text">
                    <h5 class="card-title"><strong>Dirección de origen</strong></h5>
                    <h5 class="card-title">Completa los cambos de origen de OT</h5>
                </div>
                <br>
                <div class="row">
                    <div class="col-4">
                        <label><strong>Mombre completo</strong></label>
                        <!-- {{ formOT.controls['sender_full_name'].valid | json }} -->
                        <!-- <input   type="text" formControlName="sender_full_name" class="form-control" name="sender_full_name" placeholder="Ingresar nombre completo"  > -->
                        <div class="ng-autocomplete">
                            <ng-autocomplete 
                                formControlName="sender_full_name"
                                type="text"
                                [data]="contacts"
                                searchKeyword="full_name"
                                placeHolder="Ingresar nombre completo"
                                (selected)='selectEvent($event)'
                                (inputChanged)='onChangeSearch($event)'
                                [itemTemplate]="itemTemplate"
                                [debounceTime] = "300"
                                [notFoundTemplate]="notFoundTemplate">
                            </ng-autocomplete>
                            <ng-template #itemTemplate let-item>
                              <a  [innerHTML]="item.full_name"></a>
                            </ng-template>
                            <ng-template #notFoundTemplate let-notFound>
                              <div>No hay contactos para mostrar</div>
                            </ng-template>
                        </div>
                        <div class="invalid-feedback" *ngIf="formOT.controls['sender_full_name'].invalid && formOT.controls['sender_full_name'].dirty || formOT.controls['sender_full_name'].touched">
                            Campo requerido
                        </div> 
                    </div>
                    <div class="col-4">
                        <label><strong>E-mail</strong></label>
                        <input type="email" class="form-control" formControlName="sender_email" name="sender_email"  placeholder="Ingresar e-mail">
                            <div *ngIf="formOT.controls['sender_email'].invalid && (formOT.controls['sender_email'].dirty || formOT.controls['sender_email'].touched)" 
                            class="invalid-feedback">
                                <div *ngIf="formOT.controls['sender_email'].errors.required">
                                    Campo requerido
                                </div>
                                <div *ngIf="formOT.controls['sender_email'].errors.email">
                                    Formato incorrecto
                                </div>
                            </div>
                    </div>
                    <div class="col-4">
                        <label><strong>Rut (opcional)</strong></label>
                        <input type="text" class="form-control" formControlName="sender_rut"  name="sender_rut" placeholder="(sin puntos ni guiones)">
                            <div *ngIf="formOT.controls['sender_rut'].invalid && (formOT.controls['sender_rut'].dirty || formOT.controls['sender_rut'].touched)"
                            class="invalid-feedback">
                                <div *ngIf="formOT.controls['sender_rut'].errors.required">
                                    RUT requerido
                                </div>
                                <div *ngIf="formOT.controls['sender_rut'].errors.invalidRut || formOT.controls['sender_rut'].errors.requiredLength">
                                    RUT incorrecto
                                </div>
                            </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-4">
                        <label><strong>Teléfono</strong></label>
                        <input type="text" class="form-control" placeholder="56 xx xxxx xxxx" name="sender_phone" formControlName="sender_phone" mask chileanMask [validation]="false"  required >
                        <div  class="invalid-feedback" *ngIf="formOT.controls['sender_phone'].invalid && formOT.controls['sender_phone'].dirty || formOT.controls['sender_phone'].touched">
                            Campo requerido
                        </div> 
                    </div>
                    <div class="col-4">
                        <label><strong>Dirección</strong></label>
                        <input #addressSearch type="text" class="form-control" formControlName="sender_address" name="sender_address" placeholder="Ingresar dirección">
                        <div  class="invalid-feedback" *ngIf="formOT.controls['sender_address'].invalid && formOT.controls['sender_address'].dirty || formOT.controls['sender_address'].touched">
                            Campo requerido
                        </div>
                    </div>
                    <div class="col-4">
                        <label><strong>Comuna</strong></label>
                        <input type="text" class="form-control" formControlName="sender_comune" name="sender_comune" placeholder="Ingresar Comuna" readonly="true" >
                            <div class="invalid-feedback" *ngIf="formOT.controls['sender_comune'].invalid && formOT.controls['sender_comune'].dirty || formOT.controls['sender_comune'].touched">
                                Campo requerido
                            </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-4">
                        <label><strong>Región</strong></label>
                        <input type="text" class="form-control" formControlName="sender_region"  name="sender_region" placeholder="Ingresar región" readonly="true" >
                            <div class="invalid-feedback" *ngIf="formOT.controls['sender_region'].invalid && formOT.controls['sender_region'].dirty || formOT.controls['sender_region'].touched">
                                Campo requerido
                            </div>
                    </div>
                    <div class="col-4">
                        <label><strong>Dpto/ oficina</strong></label>
                        <input type="number" class="form-control" formControlName="sender_address_number" name="sender_address_number" placeholder="Ingresar Dpto/ oficina">
                            <!-- <div class="invalid-feedback" *ngIf="formOT.controls['sender_address_number'].invalid && formOT.controls['sender_address_number'].dirty || formOT.controls['sender_address_number'].touched">
                                Campo requerido
                            </div> -->
                    </div>
                    <!-- <div class="col-6">
                        <label><strong>Comentario (opcional)</strong></label>
                        <input type="text" class="form-control"  name="sender_extra_info" placeholder="Ingresar comentario">
                    </div> -->
                </div>
                <br>
                <hr>
                <div class="text">
                    <h5 class="card-title"><strong>Dirección de destino</strong></h5>
                    <h5 class="card-title">Completa los campos del destino de OT</h5>
                </div>
                <br>
                <div class="row">
                    <div class="col-4">
                        <label><strong>Nombre completo</strong></label>
                        <div class="ng-autocomplete">
                            <ng-autocomplete 
                                formControlName="receiver_full_name"
                                type="text"
                                [data]="contacts"
                                searchKeyword="full_name"
                                placeHolder="Ingresar nombre completo"
                                (selected)='selectEvent($event)'
                                (inputChanged)='onChangeSearch($event)'
                                [itemTemplate]="itemTemplate"
                                [debounceTime] = "300"
                                [notFoundTemplate]="notFoundTemplate">
                            </ng-autocomplete>
                            <ng-template #itemTemplate let-item>
                              <a  [innerHTML]="item.full_name"></a>
                            </ng-template>
                            <ng-template #notFoundTemplate let-notFound>
                              <div>No hay contactos para mostrar</div>
                            </ng-template>
                        </div>
                        <div class="invalid-feedback" *ngIf="formOT.controls['receiver_full_name'].invalid && formOT.controls['receiver_full_name'].dirty || formOT.controls['receiver_full_name'].touched">
                            Campo requerido
                        </div> 
                    </div>
                    <div class="col-4">
                        <label><strong>E-mail</strong></label>
                        <input type="text" class="form-control" formControlName="receiver_email" name="receiver_email" placeholder="Ingresar e-mail">
                            <div *ngIf="formOT.controls['receiver_email'].invalid && (formOT.controls['receiver_email'].dirty || formOT.controls['receiver_email'].touched)" 
                            class="invalid-feedback">
                                <div *ngIf="formOT.controls['receiver_email'].errors.required">
                                    Campo requerido
                                </div>
                                <div *ngIf="formOT.controls['receiver_email'].errors.email">
                                    Formato incorrecto
                                </div>
                            </div>
                    </div>
                    <div class="col-4">
                        <label><strong>Rut (opcional)</strong></label>
                        <input type="text" class="form-control" formControlName="receiver_rut" name="receiver_rut" placeholder="(sin puntos ni guiones)">
                        <div *ngIf="formOT.controls['receiver_rut'].invalid && (formOT.controls['receiver_rut'].dirty || formOT.controls['receiver_rut'].touched)"
                            class="invalid-feedback">
                                <div *ngIf="formOT.controls['receiver_rut'].errors.required">
                                    Rut requerido
                                </div>
                                <div *ngIf="formOT.controls['receiver_rut'].errors.invalidRut || formOT.controls['receiver_rut'].errors.requiredLength">
                                    Rut incorrecto
                                </div>
                            </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-4">
                        <label><strong>Teléfono</strong></label>
                        <input type="text" class="form-control" formControlName="receiver_phone" name="receiver_phone" placeholder="Ingresar teléfono" mask chileanMask [validation]="false">
                            <div *ngIf="formOT.controls['receiver_phone'].invalid && (formOT.controls['receiver_phone'].dirty || formOT.controls['receiver_phone'].touched)" 
                            class="invalid-feedback">
                                Campo requerido
                            </div>
                    </div>
                    <div class="col-4">
                        <label><strong>Dirección</strong></label>
                        <input #addressSearch2 type="text" class="form-control"  formControlName="receiver_address" name="receiver_address" placeholder="Ingresar dirección">
                            <div  class="invalid-feedback" *ngIf="formOT.controls['receiver_address'].invalid && formOT.controls['receiver_address'].dirty || formOT.controls['receiver_address'].touched">
                                Campo requerido
                            </div>
                    </div>
                    <div class="col-4">
                        <label><strong>Comuna</strong></label>
                        <input type="text" class="form-control" formControlName="receiver_comune"  name="receiver_comune" placeholder="Ingresar Comuna" readonly="true" >
                            <div  class="invalid-feedback" *ngIf="formOT.controls['receiver_comune'].invalid && formOT.controls['receiver_comune'].dirty || formOT.controls['receiver_comune'].touched">
                                Campo requerido
                            </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-3">
                        <label><strong>Región</strong></label>
                        <input type="text" class="form-control" formControlName="receiver_region" name="receiver_region" placeholder="Ingresar región" readonly="true" >
                            <div  class="invalid-feedback" *ngIf="formOT.controls['receiver_region'].invalid && formOT.controls['receiver_region'].dirty || formOT.controls['receiver_region'].touched">
                                Campo requerido
                            </div>
                    </div>
                    <div class="col-3">
                        <label><strong>Dpto/ oficina</strong></label>
                        <input type="text" class="form-control" formControlName="receiver_address_number" name="receiver_address_number" placeholder="Ingresar Dpto/ oficina">
                            <!-- <div  class="invalid-feedback" *ngIf="formOT.controls['receiver_address_number'].invalid && formOT.controls['receiver_address_number'].dirty || formOT.controls['receiver_address_number'].touched">
                                Campo requerido
                            </div> -->
                    </div>
                    <div class="col-6">
                        <label><strong>Comentario (opcional)</strong></label>
                        <input type="text" class="form-control" formControlName="deliver_info" name="deliver_info" placeholder="Ingresar Comentario">
                    </div>
                </div>
                <hr>
                <div class="text">
                    <h5 class="card-title"><strong>Detalle OT</strong></h5>
                    <h5 class="card-title">Completa los campo con el detalle de producto</h5>
                </div>
                <div class="row">
                    <div class="col-4">
                        <label><strong>Retorno</strong></label>
                        <select class="form-control"  name="has_return"  formControlName="has_return">
                            <option value="with_return" >Con retorno</option>
                            <option value="no_return">Sin retorno</option>
                          </select>
                    </div>
                    <div class="col-4">
                        <label><strong>alto (cm)</strong></label>
                        <input currencyMask [options]="{ prefix: '', thousands: '.', precision: '0 ' }" min="0" max="9000000" type="text"  class="form-control" formControlName="height"  name="height" placeholder="Ingresar alto" >
                            <div  class="invalid-feedback" *ngIf="formOT.controls['height'].invalid && formOT.controls['height'].dirty || formOT.controls['height'].touched">
                                Campo requerido
                            </div>
                    </div>
                    <div class="col-4">
                        <label><strong>Ancho (cm)</strong></label>
                        <input currencyMask [options]="{ prefix: '', thousands: '.', precision: '0 ' }" min="0" max="9000000" type="text" class="form-control" formControlName="width"  name="width" placeholder="Ingresar ancho">
                            <div class="invalid-feedback" *ngIf="formOT.controls['width'].invalid && formOT.controls['width'].dirty || formOT.controls['width'].touched">
                                Campo requerido
                            </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-4">
                        <label><strong>Largo</strong></label>
                        <input currencyMask [options]="{ prefix: '', thousands: '.', precision: '0 ' }" min="0" max="9000000" type="text"  class="form-control" formControlName="depth" name="depth" placeholder="Ingresar largo">
                            <div class="invalid-feedback" *ngIf="formOT.controls['depth'].invalid && formOT.controls['depth'].dirty || formOT.controls['depth'].touched">
                                Campo requerido
                            </div>
                    </div>
                    <div class="col-4">
                        <label><strong>Peso (kg)</strong></label>
                        <input currencyMask [options]="{ prefix: '', thousands: '.', decimal:',', precision: '2' }" min="0" max="9000000" type="text" class="form-control" formControlName="weight" name="weight" placeholder="Ingresar Peso">
                        <div class="invalid-feedback" *ngIf="formOT.controls['weight'].invalid && formOT.controls['weight'].dirty || formOT.controls['weight'].touched">
                            Campo requerido
                        </div>
                    </div>
                    <div class="col-4">
                        <label><strong>producto</strong></label>
                        <select class="form-control"  name="product"  formControlName="product">
                            <!-- <option value="1"> Producto 1 </option> -->
                            <option *ngFor="let item of listaProducts" value="{{item.id}}" >{{item.name}}</option>  
                        </select>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-4">
                        <label><strong>Servicio</strong></label>
                        <select class="form-control"  name="service"  formControlName="service">   
                            <option *ngFor="let item of listService" value="{{item.id}}" >{{item.name}}</option>
                          </select>
                    </div>
                    <div class="col-4">
                        <label><strong>Tipo notificación</strong></label>
                        <select class="form-control"  name="notification_type"  formControlName="notification_type">
                            <option value="none">Ninguna</option>
                            <option value="sender">Remitente</option>
                            <option value="receiver">Destinatario</option>
                            <option value="both">Ambos</option>
                          </select>
                    </div>
                </div>
                <br>
                <div class="d-flex justify-content-between">
                    <button type="submit" [disabled]="!formOT.valid" class="btn btn-primary" >Actualizar</button>
                    <!-- <button type="button" class="btn btn-danger" >Eliminar</button> -->
                </div>
            </form>
          </div>
        </div>
    </div>
  </div>
  