<div class="col-sm-12 col-lg-12">
    <div class="page-breadcrumb">
        <div class="row page-titles">
            <div class="col-md-6 col-8 align-self-center">
                <h3 class="text-themecolor mb-0 mt-0">Vehículo</h3>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="javascript:void(0)">Inicio</a></li>
                    <li class="breadcrumb-item active"><a routerLink="../">Listado</a>
                    <li class="breadcrumb-item active">Vehículo</li>
                </ol>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <div class="text-left">
                    <h4 class="card-title"><strong>Vehículo</strong></h4>
                </div>
                <!-- {{segmentForm.value | json}} -->
                <form [formGroup]="transportForm" class="mt-1" (ngSubmit)="saveOrCreate()">
                    <div class="row">
                        <div class="col-md-4 mt-1">
                            <label><strong>Patente</strong></label>
                            <input type="text" class="form-control" formControlName="plate" name="plate" placeholder="Ingrese Patente" autocomplete="off" required>
                            <div *ngIf="transportForm.controls['plate'].invalid && (transportForm.controls['plate'].dirty || transportForm.controls['plate'].touched)"
                                class="invalid-feedback">
                                Patente requerida
                            </div>
                        </div>
                        <div class="col-md-4 mt-1">
                            <label><strong>Tipo</strong></label>
                            <select class="form-control" name="type" formControlName="type" required>
                                <option value="moto">Moto</option>
                                <option value="van">Furgón</option>
                                <option value="truck">Camión</option>
                            </select>
                            <div *ngIf="transportForm.controls['type'].invalid && (transportForm.controls['type'].dirty || transportForm.controls['type'].touched)"
                                class="invalid-feedback">
                                Peso mímino requerido
                            </div>
                        </div>
                        <div class="col-md-4 mt-1">
                            <label><strong>Disponible</strong></label>
                            <select class="form-control" name="available" formControlName="available" required>
                                <option value="yes">Si</option>
                                <option value="no">No</option>
                            </select>
                            <div *ngIf="transportForm.controls['available'].invalid && (transportForm.controls['availableavailable'].dirty || transportForm.controls['available'].touched)"
                                class="invalid-feedback">
                                Disponibiblida requerida
                            </div>
                        </div>
                    </div>
                    <div class="row d-flex flex-row-reverse mt-2">
                        <div class="col-2">
                            <button class="btn btn-block btn-sm btn-success text-white"
                                [disabled]="!transportForm.valid || isLoading" type="submit">Guardar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>