<div class="password-form mx-auto">
    <div class="logo text-center">
        <span class="db">
            <img alt="logo" src="assets/images/LogoConexxion.png">
        </span>
    </div>
    <form [formGroup]="formPasswords" class="form-horizontal m-t-20" (ngSubmit)="requestActivation()">
        <div class="row">
            <div class="col-sm-4 mb-3">
                <label>Nombre </label>
                <input type="text" class="form-control" placeholder="Nombre" name="first_name"
                    formControlName="first_name" equired>
                <div *ngIf="formPasswords.controls['first_name'].invalid && (formPasswords.controls['first_name'].dirty || formPasswords.controls['first_name'].touched)"
                    class="invalid-feedback">
                    Nombre requerido
                </div>
            </div>
            <div class="col-sm-4 mb-3">
                <label>Apellido </label>
                <input type="text" class="form-control" placeholder="Apellido" name="last_name"
                    formControlName="last_name" required>
                <div *ngIf="formPasswords.controls['last_name'].invalid && (formPasswords.controls['last_name'].dirty || formPasswords.controls['last_name'].touched)"
                    class="invalid-feedback">
                    Apellido requerido
                </div>
            </div>
            <div class="col-sm-4 mb-3">
                <label>RUT</label>
                <input type="text" class="form-control" placeholder="RUT" name="rut" formControlName="rut" required>
                <div *ngIf="formPasswords.controls['rut'].invalid && (formPasswords.controls['rut'].dirty || formPasswords.controls['rut'].touched)"
                    class="invalid-feedback">
                    <div *ngIf="formPasswords.controls['rut'].errors.required">
                        RUT requerido
                    </div>
                    <div *ngIf="formPasswords.controls['rut'].errors.invalidRut || formPasswords.controls['rut'].errors.requiredLength">
                        RUT incorrecto
                    </div>
                </div>
            </div>
            <div class="col-sm-6 mb-3">
                <label>Telefono </label>
                <input type="text" class="form-control" placeholder="56 xx xxxx xxxx" name="phone"
                    formControlName="phone" mask chileanMask [validation]="false" required>
                <div *ngIf="formPasswords.controls['phone'].invalid && (formPasswords.controls['phone'].dirty || formPasswords.controls['phone'].touched)"
                    class="invalid-feedback">
                    Teléfono requerido
                </div>
            </div>
            <div class="col-sm-6 mb-3">
                <label>E-mail</label>
                <input type="email" class="form-control" placeholder="E-mail" name="email" formControlName="email"
                    required>
                <div *ngIf="formPasswords.controls['email'].invalid && (formPasswords.controls['email'].dirty || formPasswords.controls['email'].touched)"
                    class="invalid-feedback">
                    <div *ngIf="formPasswords.controls['email'].errors.required">
                        E-mail requerido
                    </div>
                    <div *ngIf="formPasswords.controls['email'].errors.email">
                        Ingrese un E-mail válido
                    </div>
                </div>
            </div>
            <!-- <div class="col-sm-4 mb-3">
                <label>Contraseña Actual</label>
                <input formControlName="old_password" name="old_password" class="form-control" placeholder="Contraseña actual"
                    type="password" autocomplete="off" required>
                <div *ngIf="formPasswords.controls['old_password'].invalid && (formPasswords.controls['old_password'].dirty || formPasswords.controls['old_password'].touched)"
                    class="invalid-feedback">
                    Contraseña actual requerida
                </div>
            </div> -->
            <div class="col-sm-6 mb-3">
                <label>Nueva contraseña</label>
                <input formControlName="password" name="password" class="form-control" placeholder="Nueva contraseña" type="password"
                    autocomplete="off" required>
                <div *ngIf="formPasswords.controls['password'].invalid && (formPasswords.controls['password'].dirty || formPasswords.controls['password'].touched)"
                    class="invalid-feedback">
                    <div *ngIf="formPasswords.controls['password'].errors.required">
                        Nueva contraseña requerida
                    </div>
                    <div
                        *ngIf="formPasswords.controls['password'].errors.minlength || formPasswords.controls['password'].errors.maxlength">
                        La contraseña debe ser de 8 a 50 caracteres
                    </div>
                </div>
            </div>
            <div class="col-sm-6 mb-3">
                <label>Confirmar contraseña</label>
                <input formControlName="confirm_password" name="confirm_password" class="form-control"
                    placeholder="Repetir nueva contraseña" type="password" autocomplete="off" required>
                <div *ngIf="formPasswords.controls['confirm_password'].invalid && (formPasswords.controls['confirm_password'].dirty || formPasswords.controls['confirm_password'].touched)"
                    class="invalid-feedback">
                    Confirmación de contraseña requerida
                </div>
                <div *ngIf="formPasswords.hasError('notSame') && (formPasswords.controls['confirm_password'].dirty || formPasswords.controls['confirm_password'].touched) && !formPasswords.controls['confirm_password'].invalid"
                    class="invalid-feedback d-block">
                    Las contraselas no coinciden
                </div>
            </div>
        </div>
        <div class="form-group text-center">
            <button class="btn btn-lg btn-info" type="submit" [disabled]="!formPasswords.valid">Continuar</button>
        </div>
    </form>
</div>