<div class="col-sm-12 col-lg-12">
    <div class="page-breadcrumb">
        <div class="row page-titles">
            <div class="col-md-6 col-8 align-self-center">
                <h3 class="text-themecolor mb-0 mt-0">Usuarios</h3>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="javascript:void(0)">Inicio</a></li>
                    <li class="breadcrumb-item active" ><a routerLink="../../../" >Empresa</a></li>
                    <li class="breadcrumb-item active" ><a routerLink="../.." >Sucursales</a></li>
                    <li class="breadcrumb-item active">Usuario</li>
                </ol>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <form class="form-horizontal"  >
                <h5 class="card-title"><strong>Empresa:</strong> {{companyDetail.name}}</h5>   
                <div class="row">
                    <div class="col-sm-4">
                        <label>Teléfono:</label>
                        <input type="text"  class="form-control form-control-sm" placeholder="Teléfono"  value="{{companyDetail.phone}}" disabled>
                    </div>
                    <div class="col-sm-4">
                        <label>E-mail:</label>
                        <input type="text" value="{{companyDetail.email}}" class="form-control form-control-sm" placeholder="E-mail" disabled>
                    </div>
                    <div class="col-sm-4">
                        <label>Contacto:</label>
                        <input type="text" value="{{companyDetail.contact_name}}" class="form-control form-control-sm" placeholder="Contacto" disabled>
                    </div>
                </div>
                <br>
                <h5 class="card-title"><strong>Sucursal: </strong> {{branchDetail.name}} </h5> 
                <div class="row">
                    <div class="col-sm-4">
                        <label>E-mail:</label>
                        <input type="text" value="{{branchDetail.email}}" class="form-control form-control-sm" placeholder="E-mail" disabled>
                    </div>
                    <div class="col-sm-4">
                        <label>Teléfono:</label>
                        <input type="text"  value="{{branchDetail.phone}}" class="form-control form-control-sm" placeholder="Teléfono" disabled>
                    </div>
                </div>
                <br>
            </form> 

            <h5 class="card-title"><strong>Lista Usuario</strong> </h5>

            <table #userTable datatable class="row-border hover w-100" [dtOptions]="dtOptions">
                    <thead>
                    <tr>
                        <th>Usuario</th>
                        <th>Nombre</th>
                        <th>APellido</th>
                        <th>Rut</th>
                        <th>Estado</th>
                        <th>Telefono</th>
                        <th>Email</th>
                        <!-- <th>Editar</th>    -->
                    </tr>
                    </thead>
                    <tbody >
                    <!-- <tr *ngFor="let list of ListUsersParams">
                        <td>{{ list.username }}</td>
                        <td>{{ list.first_name }}</td>
                        <td>{{ list.last_name }}</td>
                        <td>{{ list.rut }}</td>
                        <td>{{ list.status }}</td>
                        <td>{{ list.phone }}</td>
                        <td>{{ list.email }}</td>
                        <td style="text-align: center;"> <button type="button" class="btn btn-info" (click)="open(content,list.id)" ><i class="fa fa-edit"></i></button></td>                       
                    </tr> -->
                    </tbody>
            </table>     
        </div> 
    </div> 
</div> 