<div class="col-sm-12 col-lg-12">
    <div class="page-breadcrumb">
        <div class="row page-titles">
            <div class="col-md-6 col-8 align-self-center">
                <h3 class="text-themecolor mb-0 mt-0">Servicios</h3>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="javascript:void(0)">Inicio</a></li>
                    <li class="breadcrumb-item active"><a routerLink="../" >Listado</a>
                    <li class="breadcrumb-item active">Servicios</li>
                </ol>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <div class="text-left">
                    <h4 class="card-title"><strong>{{serviceForm.value.name}}</strong></h4>
                </div>
                <!-- {{serviceForm.value | json}} -->
                <form [formGroup]="serviceForm" class="mt-1" (ngSubmit)="saveOrCreate()">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 mt-1">
                            <label><strong>Nombre</strong></label>
                            <input type="text" class="form-control" formControlName="name" name="name"
                                placeholder="Ingrese Nombre" required>
                            <div *ngIf="serviceForm.controls['name'].invalid && (serviceForm.controls['name'].dirty || serviceForm.controls['name'].touched)"
                                class="invalid-feedback">
                                Nombre requerido
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 mt-1">
                            <label><strong>Estado</strong></label>
                            <select type="text" class="form-control" formControlName="status" name="status" required>
                                <option value="active">Activo</option>
                                <option value="disabled">Desactivado</option>
                            </select>
                            <div *ngIf="serviceForm.controls['status'].invalid && (serviceForm.controls['status'].dirty || serviceForm.controls['status'].touched)"
                                class="invalid-feedback">
                                Nombre requerido
                            </div>
                        </div>
                    </div>
                    <hr class="greed">
                    <div class="row">
                        <div class="col-lg-4 col-md-4">
                            <h4>Precios</h4>
                        </div>
                        <div class="col-lg-4 col-md-4 d-none d-md-block d-sm-none">
                            Sin retorno
                        </div>
                        <div class="col-lg-4 col-md-4 d-none d-md-block d-sm-none">
                            Con retorno
                        </div>
                    </div>
                    <div formArrayName="service_price" *ngFor="let price of service_price.controls; let i=index">
                        <div class="row" [formGroupName]="i">
                            <input formControlName="segment" type="hidden">
                            <div class="col-lg-4 col-md-4 mt-1">
                                <strong>{{getSegment(service_price.value[i].segment).name}}</strong>
                            </div>
                            <div class="col-lg-4 col-md-4 mt-1 row no-gutters">
                                <label class="col-2 col-form-label d-md-none d-xl-block">Sin retorno</label>
                                <div class="col-lg-12 col-10">
                                    <div class="input-group">
                                        <input currencyMask [options]="{ prefix: '', thousands: '.', precision: '0' }" type="text" min="0" max="9000000" formControlName="no_return" class="form-control form-control-sm content-center" placeholder="Sin retorno" required>
                                        <div class="input-group-append">
                                            <span class="input-group-text">$</span>
                                        </div>
                                        <div *ngIf="price.controls['no_return'].invalid && (price.controls['no_return'].dirty || price.controls['no_return'].touched)"
                                            class="invalid-feedback">
                                            Precio requerido o fuera de rango
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 mt-1 row no-gutters">
                                <label class="col-2 col-form-label d-md-none d-xl-block">Con retorno</label>
                                <div class="col-lg-12 col-10">
                                    <div class="input-group">
                                        <input currencyMask [options]="{ prefix: '', thousands: '.', precision: '0' }" type="text" min="0" max="9000000" formControlName="with_return" class="form-control form-control-sm" placeholder="Con retorno" required>
                                        <div class="input-group-append">
                                            <span class="input-group-text">$</span>
                                        </div>
                                        <div *ngIf="price.controls['with_return'].invalid && (price.controls['with_return'].dirty || price.controls['with_return'].touched)"
                                            class="invalid-feedback">
                                            Precio requerido o fuera de rango
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr>
                    </div>
                    <div class="row d-flex flex-row-reverse mt-2">
                        <div class="col-2">
                            <button class="btn btn-block btn-sm btn-success text-white" [disabled]="!serviceForm.valid || isLoading" type="submit">Guardar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>