.row {
    padding: 3px;
}
.titulo{
    background: #2e347c;
    color: white;
}

// FALTA CORREGIR RESPONSIVE TRABLA

.card-extra{
    border: 1px solid #ccc;
    padding: 0.7em;
    border-radius: 2px;
    position: relative;
    .btn-remove{
        padding: 0.20rem 0.40rem;
        font-size: 0.5rem;
        line-height: 1.5;
        border-radius: 1px;
        position: absolute;
        right: 0.7rem;
        z-index: 5;
    }
}
.card-extra:nth-of-type(2n+1){
    margin-top: 0.5rem;
}