<div class="col-sm-12 col-lg-12">
    <div class="page-breadcrumb">
        <div class="row page-titles">
            <div class="col-md-6 col-8 align-self-center">
                <h3 class="text-themecolor mb-0 mt-0">{{isEditing?"Editar Empresa":"Nueva Empresa"}}</h3>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="javascript:void(0)">Inicio</a></li>
                    <li *ngIf="!isEditing; else isEditingCompany" class="breadcrumb-item active">
                        <a routerLink="../../companies" >Empresas</a>
                    </li>
                    <ng-template #isEditingCompany>
                        <li class="breadcrumb-item active">
                            <a routerLink="../../../companies">Empresas</a>
                        </li>
                        <li class="breadcrumb-item active">
                            <a routerLink="../">Empresa</a>
                        </li>
                    </ng-template>
                    <li class="breadcrumb-item active">{{isEditing?"Editar":"Nueva"}}</li>
                </ol>
            </div>
        </div>
    </div>
    <div class="card">
        <form class="form-horizontal m-t-10" [formGroup]="companyForm" (ngSubmit)="saveCompany()" >
            <div class="card-body">
                <h5 class="m-0">Datos Empresa</h5>
                <br>
                <div class="row">
                    <div class="col">
                        <label>Razón social</label>
                        <input type="text" formControlName="name" class="form-control form-control-sm" placeholder="Razón social" name="name" required [readonly]="inputDisable" >
                        <div *ngIf="companyForm.controls['name'].invalid && (companyForm.controls['name'].dirty || companyForm.controls['name'].touched)" class="invalid-feedback">
                            Razón social es requerido
                        </div>
                    </div>
                    <div class="col">
                        <label>Nombre de fantasía</label>
                        <input type="text" formControlName="commercial_business" class="form-control form-control-sm" placeholder="Nombre de fantasía" name="commercial_business" required>
                        <div *ngIf="companyForm.controls['name'].invalid && (companyForm.controls['name'].dirty || companyForm.controls['name'].touched)" class="invalid-feedback">
                            El Nombre de fantasía es requerido
                        </div>
                    </div>
                    <div class="col">
                        <label >Rut <small>(sin puntos ni guiones)</small></label>
                        <input type="text" formControlName="rut" class="form-control form-control-sm" placeholder="RUT" name="rut" required [readonly]="inputDisable" >
                        <div *ngIf="companyForm.controls['rut'].invalid && (companyForm.controls['rut'].dirty || companyForm.controls['rut'].touched)" class="invalid-feedback">
                            <div *ngIf="companyForm.controls['rut'].errors.required">
                                RUT requerido
                            </div>
                            <div *ngIf="companyForm.controls['rut'].errors.invalidRut || companyForm.controls['rut'].errors.requiredLength">
                                RUT incorrecto
                            </div>
                        </div>                     
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col">
                        <label>Teléfono </label>
                        <input type="text" formControlName="phone" chileanMask mask class="form-control form-control-sm" placeholder="Teléfono"  name="phone" required>
                        <div *ngIf="companyForm.controls['phone'].invalid && (companyForm.controls['phone'].dirty || companyForm.controls['phone'].touched)" class="invalid-feedback">
                            El Teléfono es requerido
                        </div>
                    </div>
                    <div class="col">
                        <label >E-mail</label>
                        <input type="email" formControlName="email" class="form-control form-control-sm" placeholder="E-mail" name="email" required >
                        <div *ngIf="companyForm.controls['email'].invalid && (companyForm.controls['email'].dirty || companyForm.controls['email'].touched)" class="invalid-feedback">
                            <div *ngIf="companyForm.controls['email'].errors.required">
                                E-mail requerido
                            </div>
                        </div>                     
                    </div>
                    <div class="col">
                        <label>Contacto </label>
                        <input type="text" formControlName="contact_name" class="form-control form-control-sm" placeholder="Contacto" name="contact_name" required >
                        <div *ngIf="companyForm.controls['contact_name'].invalid && (companyForm.controls['contact_name'].dirty || companyForm.controls['contact_name'].touched)" class="invalid-feedback">
                            <div *ngIf="companyForm.controls['contact_name'].errors.required">
                                Contacto requerido
                            </div>
                        </div> 
                    </div>
                </div>
                <br>
                <div class="row" *ngIf="canEditExtras">
                    <div class="col">
                        <label>Tipo Compañia </label>
                        <select class="custom-select form-control-sm" formControlName="company_type" name='company_type' required >
                            <option value="client">Cliente</option>
                            <option value="distibutor">Distribuidor</option>
                            <option value="owner">Propietario</option>
                        </select>
                    </div>
                    <div class="col">
                        <label>Max. Usuario </label>
                        <input type="number" class="form-control form-control-sm" formControlName="max_users" placeholder="Max. Usuario" name='max_users' min="0" required >
                        <div *ngIf="companyForm.controls['max_users'].invalid && (companyForm.controls['max_users'].dirty || companyForm.controls['max_users'].touched)" class="invalid-feedback">
                                Máximo de usuarios requerido
                        </div>
                    </div>
                    <div class="col">
                        <label>Max. Sucursales </label>
                        <input type="number" class="form-control form-control-sm" formControlName="max_branches" placeholder="Max. Sucursales" name="max_branches" min="0" required>
                        <div *ngIf="companyForm.controls['max_users'].invalid && (companyForm.controls['max_users'].dirty || companyForm.controls['max_users'].touched)" class="invalid-feedback">
                                Máximo de sucursales requerido
                        </div>
                    </div>
                    <div class="col">
                        <label>Estado </label>
                        <select class="custom-select form-control-sm" formControlName="status" name="status" required>
                            <option value="active">Activo</option>
                            <option value="disabled">Desactivado</option>
                        </select>
                    </div>  
                </div> 
                <br>
                <div *ngIf="isEditing">
                    <h5 class="m-0">Ejecutivo comercial</h5>
                <br>
                    <div class="row" formGroupName="trader">
                        <div class="col">
                            <label>Nombre</label>
                            <select *ngIf="canEditTrader; else viewTrader" class="form-control form-control-sm" formControlName="trader" name="trader" (change)="selectTrader($event.target.value)">
                                <option *ngFor="let execute of executivesList" value="{{execute.id}}">{{execute.first_name}}</option>
                            </select>
                            <ng-template #viewTrader>
                                <input class="form-control form-control-sm" formControlName="first_name" name="trader" type="text" [readonly]="true">
                            </ng-template>
                        </div>
                        <div class="col">
                            <label>E-mail</label>
                            <input type="text" class="form-control form-control-sm" formControlName="email" placeholder="E-mail" name="email" [readonly]="true" >
                        </div>
                        <div class="col">
                            <label>Teléfono </label>
                            <input type="text" class="form-control form-control-sm" chileanMask mask [validation]="false" formControlName="phone" placeholder="Teléfono" name="phone" [readonly]="true">
                        </div>  
                    </div>
                </div>
                <br>
                <span class="d-flex align-items-center justify-content-between">
                    <h5 class="m-0">Contactos de facturación <small>(3 máximo)</small></h5>
                    <button type="button" class="btn btn-success btn-sm text-light" (click)="addBillingInfo()"><i class="fas fa-plus"></i></button>
                </span>
                <div formArrayName="billing_contacts" *ngFor="let contact of billing_contacts.controls; let i=index">
                    <div class="row" [formGroupName]="i">
                        <div class="col">
                            <label>Nombre</label>
                            <input type="text" class="form-control form-control-sm" formControlName="name" placeholder="Nombre" required>
                            <div *ngIf="contact.controls['name'].invalid && (contact.controls['name'].dirty || contact.controls['name'].touched)" class="invalid-feedback">
                                   Nombre requerido
                            </div>
                        </div> 
                        <div class="col">
                            <label>E-mail</label>
                            <input type="email" class="form-control form-control-sm" formControlName="email" placeholder="Email" required>
                            <div *ngIf="contact.controls['email'].invalid && (contact.controls['email'].dirty || contact.controls['email'].touched)" class="invalid-feedback">
                                <div *ngIf="contact.controls['email'].errors.required">
                                    E-mail requerido
                                </div>
                                <div *ngIf="contact.controls['email'].errors.email">
                                    Ingrese un E-mail válido
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <label>Teléfono</label>
                            <input type="text" class="form-control form-control-sm" formControlName="phone" chileanMask mask [validation]="false" placeholder="56 xx xxxx xxxx">
                        </div>
                        <div class="col">
                            <label>Dirección</label>
                            <input appFichaAdres type="text" class="form-control form-control-sm" formControlName="address" name="address" placeholder="Ingrese Dirección" required>
                        </div>
                    </div>
                </div>
                <br>
                <!-- {{company_price.value | json}} -->
                <div class="text-center titulo mt-2">
                    <h4 class="">SERVICIOS</h4>
                </div> 
                <br>
                <table class="tablesaw table-bordered table-hover table tablesaw-sortable tablesaw-swipe w-100" >
                    <thead>
                        <tr>
                            <th class="border tablesaw-sortable-head tablesaw-swipe-cellpersist tablesaw-swipe-cellhidden" >
                            </th>
                            <th colspan="2" class="text-center" *ngFor="let service of services">
                                {{service.id}} -{{service.name}}
                            </th>
                        </tr>
                    </thead>
                    <thead>
                        <tr>
                            <th>TRAMO</th>
                            <ng-container *ngFor="let service of services">
                                <th class="text-center">Sin retorno</th>
                                <th class="text-center">Con retorno</th>
                            </ng-container>
                            <th>Cant. Servicio</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr formArrayName="company_price" *ngFor="let segment of segments; let i=index">
                                <td>{{ segment.name }}<br> <small>({{ segment.min_weight }} a {{ segment.max_weight }} Kg)</small></td>
                                <ng-container *ngFor="let service of services; let j=index; let isLast=last" [formGroupName]="getCurrentIndex(i,j)">
                                    <input formControlName="segment" type="hidden">
                                    <input formControlName="service" type="hidden">
                                    <td>
                                        <input currencyMask [options]="{ prefix: '$ ', thousands: '.', precision: '0' }" type="text" max="2147483647" formControlName="no_return" class="form-control form-control-sm content-center" placeholder="" required>
                                    </td>
                                    <td>
                                        <input currencyMask [options]="{ prefix: '$ ', thousands: '.', precision: '0' }"  max="2147483647"  type="text" formControlName="with_return" class="form-control form-control-sm" placeholder="" required>
                                    </td>
                                    <td *ngIf="isLast">
                                        <input  type="text" formControlName="min_quantity" class="form-control form-control-sm" placeholder="" required>
                                    </td>
                                </ng-container>
                        </tr>
                    </tbody>
                </table>

                <div class="row d-flex flex-row-reverse mt-2">  
                    <div class="col-2">
                        <button class="btn btn-block btn-sm btn-success text-white" [disabled]="!companyForm.valid || loading" type="submit"><i class="fa fa-user-plus"></i> Guardar</button>
                    </div>  
                </div>   
            </div>
        </form>
        </div>
    </div>