<div class="col-sm-12 col-lg-12">
    <div class="page-breadcrumb">
        <div class="row page-titles">
            <div class="col-md-6 col-8 align-self-center">
                <h3 class="text-themecolor mb-0 mt-0">Perfiles</h3>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="javascript:void(0)">Inicio</a></li>
                    <li class="breadcrumb-item active">Perfiles</li>
                </ol>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-xlg-3 col-md-5">
                <div class="card">
                    <div class="card-body text-center">
                        <div class="mt-4">
                            <div class="img-container">
                                <ngx-skeleton-loader count="1" appearance="circle" *ngIf="skeletonloader"  [theme]=" 
                                { width: '80px', height: '80px',  'background-color': '#012E75' }
                                " > 
                                </ngx-skeleton-loader>
                                <div *ngIf="!skeletonloader">  
                                    <img src="{{profile.profile_picture}}" class="rounded-circle" width="80">
                                </div> 
                                <div class="rounded-circle frontdrop loader" *ngIf="uploadingPicture" [@inOutAnimation]>
                                    <i class="fas fa-spinner fa-spin fa-3x"></i>
                                </div>
                                <div class="rounded-circle frontdrop not-visible" (click)="choosePic()" *ngIf="!uploadingPicture">
                                    <i class="fas fa-camera fa-3x"></i>
                                    <input type="file" class="d-none" #pictureFile accept="image/png, image/jpeg">
                                </div>
                            </div>
                            <ngx-skeleton-loader count="1" *ngIf="skeletonloader"  [theme]=" 
                            { width: '209px', height: '40px',  'background-color': '#012E75' }
                            " > 
                            </ngx-skeleton-loader>
                            <div *ngIf="!skeletonloader">  
                                <h4 class="mt-3">{{profile.first_name}} {{profile.last_name}}</h4>
                            </div> 
                        </div>
                    </div>
                    <hr> 
                    <div class="card-body"> 
                        <h5><strong>Empresa</strong></h5> 
                        <small class="text-muted">Nombre </small>
                        <ngx-skeleton-loader count="1" *ngIf="skeletonloader"  [theme]=" 
                        { width: '209px', height: '30px',  'background-color': '#012E75' }
                        " > 
                        </ngx-skeleton-loader>
                        <div *ngIf="!skeletonloader">  
                            <h6>{{profile.branch.name}}</h6> 
                        </div>
                        <!-- <small class="text-muted">Email </small> -->
                            <!-- <h6>hannagover@gmail.com</h6>  -->
                        <!-- <small class="text-muted p-t-30 db">Telefono</small> -->
                            <!-- <h6>+91 654 784 547</h6>  -->
                        <small class="text-muted p-t-30 db">Dirección</small>
                        <ngx-skeleton-loader count="1" *ngIf="skeletonloader"  [theme]=" 
                        { width: '209px', height: '30px',  'background-color': '#012E75' }
                        " > 
                        </ngx-skeleton-loader>
                        <div *ngIf="!skeletonloader">  
                            <h6>{{profile.branch.address}}</h6> 
                        </div>
                        <div class="map-box">
                            <!-- <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3329.4171843787794!2d-70.62776668480102!3d-33.43843598077735!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9662c58111b8991b%3A0x15da7e762bba33a2!2sMar%C3%ADa%20Luisa%20Santander%20565%2C%20Providencia%2C%20Regi%C3%B3n%20Metropolitana!5e0!3m2!1ses!2scl!4v1582059472715!5m2!1ses!2scl" width="100%" height="150" frameborder="0" style="border:0;" allowfullscreen=""></iframe> -->
                        </div> 
                        <!-- <small class="text-muted p-t-30 db">Social Profile</small> -->
                    </div>
                </div>
            </div>
            <div class="col-lg-8 col-xlg-9 col-md-7">
                <div class="card">
                    <div class="tab-pane active" id="settings" role="tabpanel">
                        <div class="card-body">
                            <form [formGroup]="formProfile" (ngSubmit)="saveDataProfile()" class="form-horizontal form-material">
                                <div class="form-group row">
                                    <label class="col-md-12"><h3>Datos Personales</h3></label>
                                    <div class="col-md-6">
                                        <label class="col-md-12">Usuario</label>
                                        <input formControlName="username" type="text" class="form-control form-control-line">
                                    </div>
                                    <div class="col-md-6">
                                        <label for="example-email" class="col-md-12">Email</label>
                                        <input formControlName="email" type="email" class="form-control form-control-line" name="example-email" >
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <div class="col-md-6">
                                        <label class="col-md-12">Nombre</label>
                                        <input formControlName="first_name" type="text" class="form-control form-control-line">
                                    </div>
                                    <div class="col-md-6">
                                        <label class="col-md-12">Apellido</label>
                                        <input formControlName="last_name" type="text" class="form-control form-control-line">
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <div class="col-md-6">
                                        <label class="col-md-12">Rut</label>
                                        <input formControlName="rut" type="text" class="form-control form-control-line" >
                                    </div>
                                    <div class="col-md-6">
                                        <label class="col-md-12">Teléfono</label>
                                        <!-- <input formControlName="phone" mask chileanMask name="phone" type="text" placeholder="56 xx xxxx xxxx"  class="form-control form-control-line"  > -->
                                        <input formControlName="phone" type="text" placeholder="56 xx xxxx xxxx"  currencyMask minlength="11" maxlength="11" [options]="{ prefix: '', thousands: '', precision: '', align:'left' }"  class="form-control form-control-line">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-12">
                                        <!-- {{formProfile.status}} -->
                                        <button type="submit" [disabled]="!formProfile.valid" class="btn btn-primary">Actualizar datos</button>
                                    </div>
                                </div>
                            </form>
                                <hr>
                                <!-- {{formPass.value | json}} -->
                                <!-- {{formPass.valid }} -->
                                
                            <form [formGroup]="formPass"  (ngSubmit)="savePass()" >
                                <div class="form-group row">
                                    <div class="col-md-4">
                                        <label for="example-email" class="col-md-12">Contraseña actual</label>
                                        <input formControlName="old_password" type="password" class="form-control form-control-line" name="old_password" minlength="8" autocomplete="off" >
                                        <div *ngIf="formPass.controls['old_password'].invalid && (formPass.controls['old_password'].dirty || formPass.controls['old_password'].touched)"
                                            class="invalid-feedback">
                                            Mínimo de 8 caracteres requerido
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <label for="example-email" class="col-md-12">Nueva contraseña</label>
                                        <input  formControlName="password" type="password" class="form-control form-control-line" name="password" minlength="8">
                                        
                                        <div *ngIf="formPass.controls['password'].invalid && (formPass.controls['password'].dirty || formPass.controls['password'].touched)"
                                        class="invalid-feedback">
                                        <div *ngIf="formPass.controls['password'].errors.required">
                                            Nueva contraseña requerida
                                        </div>
                                        <div
                                            *ngIf="formPass.controls['password'].errors.minlength || formPass.controls['password'].errors.maxlength">
                                            La contraseña debe ser de 8 a 50 caracteres
                                        </div>
                                    </div>
                                    </div>
                                    <div class="col-md-4">
                                        <label for="example-email" class="col-md-12">Repetir contraseña</label>
                                        <input formControlName="confirm_password"   type="password" class="form-control form-control-line" name="confirm_password" >
                                        <!-- <div *ngIf="formPass.controls['confirm_password'].invalid && (formPass.controls['confirm_password'].dirty || formPass.controls['confirm_password'].touched)"
                                        class="invalid-feedback">
                                        nueva contraseña requerida
                                    </div> -->
                                    <div *ngIf="formPass.hasError('notSame') && (formPass.controls['confirm_password'].dirty || formPass.controls['confirm_password'].touched) && !formPass.controls['confirm_password'].invalid"
                                        class="invalid-feedback d-block">
                                        Las contraselas no coinciden
                                    </div>
                    
                                    </div>
                                </div>
                                    <div class="row">
                                    <div class="col-sm-12">
                                        <!-- {{formProfile.status}} -->
                                        <button type="submit" class="btn btn-primary">Actualizar contraseña</button>
                                    </div>
                                    </div>   
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
  