<div class="col-sm-12 col-lg-12">
    <div class="page-breadcrumb">
        <div class="row page-titles">
            <div class="col-md-6 col-8 align-self-center">
                <h3 class="text-themecolor mb-0 mt-0">Impresión Falabella</h3>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="javascript:void(0)">Inicio</a></li>
                    <li class="breadcrumb-item active">Impresión Falabella</li>
                </ol>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="exampleInputEmail1">Impresora</label>
                    <select [(ngModel)]="currentPrinter" (ngModelChange)="changePrinter()" class="form-control" name="printer">
                        <option *ngFor="let printer of printers" value="{{printer}}">{{printer}}</option>
                    </select>
                </div>
                <div class="form-group col-md-6">
                    <label >Código de barras</label>
                    <input [(ngModel)]="currentSOC" (keyup.enter)="doPrint()" type="text" class="form-control">
                </div>
            </div>
        </div>
    </div>
</div>