<nav class="sidebar-nav" *ngIf="sidebarnavItems">
    <ul id="sidebarnav">
		<li class="nav-devider"></li>
        <!-- First level menu -->
        <li 
        class="sidebar-item"
        *ngFor="let sidebarnavItem of sidebarnavItems"
        [class.active]="showMenu === sidebarnavItem.title"
        [@fadeIn]="sidebarnavItems?.length">
             <div class="nav-small-cap" *ngIf="sidebarnavItem.extralink === true">{{sidebarnavItem.title}}</div>
            <a 
            class="sidebar-link waves-effect waves-dark"
            [routerLink]="sidebarnavItem.children.length > 0?null:[sidebarnavItem.path]"
            [ngClass]="sidebarnavItem.css_class" 
            *ngIf="!sidebarnavItem.extralink;" 
            (click)="addExpandClass(sidebarnavItem.title, sidebarnavItem.children.length)"
            >
                <i [ngClass]="[sidebarnavItem.icon]"></i>
                <span class="hide-menu">{{sidebarnavItem.title}}</span>
            </a>
            <ul
            *ngIf="sidebarnavItem.children"
            class="first-level collapse"
            [ngbCollapse]="showSubMenu!=sidebarnavItem.title"
            >
                <li 
                *ngFor="let child of sidebarnavItem.children"
                class="sidebar-item"
                >
                    <a
                    class="sidebar-link"
                    routerLinkActive="active"
                    [routerLink]="[child.path]"
                    [routerLinkActiveOptions]="{ exact : true }"
                    >
                        <i [ngClass]="child.icon"></i>
                        <span class="hide-menu">{{child.title}}</span>
                    </a>
                </li>
            </ul>
        </li>
    </ul>
</nav>