<div class="modal-header">
    <h4 class="modal-title">Detalle Estado</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body" oncontextmenu="return false" #detailBody>
    <ng-container 
    *ngIf="trackDetail.delivered_to_name || trackDetail.delivered_to_rut"
    >
        <h5>Responsable</h5>
        <div class="row" *ngIf="trackDetail.delivered_to_name">
            <div class="col-4"><b>Nombre:</b></div>
            <div class="col-8">{{trackDetail.delivered_to_name}}</div>
        </div>
        <div class="row" *ngIf="trackDetail.delivered_to_rut">
            <div class="col-4"><b>RUT:</b></div>
            <div class="col-8">{{trackDetail.delivered_to_rut}}</div>
        </div>
        <br>
    </ng-container>
    <div class="row">
        <div class="col-sm-6">
            <div class="card card-bordered mx-auto" style="width: 18rem;">
                <img
                    *ngIf="trackDetail.signature; else noSource"
                    class="card-img-top cropped"
                    [src]="trackDetail.signature"
                    alt="Firma"
                    draggable="false"
                >
                <div class="card-body">
                    <h5 class="card-title">Firma</h5>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card card-bordered mx-auto" style="width: 18rem;">
                <div class="card-img-top cropped gray">
                    <a 
                        *ngFor="let picture of trackDetail.pictures;first as isFirst"
                        href="{{picture.picture}}"
                        target="_blank"
                        class="img-link"
                        [ngClass]="{
                            'single': trackDetail.pictures.length == 1,
                            'dual':  trackDetail.pictures.length == 2,
                            'multiple': trackDetail.pictures.length > 2,
                            'first': isFirst && trackDetail.pictures.length > 2
                        }"
                    >
                        <div 
                        class="image">
                            <img class="w-100" [src]="picture.picture" alt="Foto">
                        </div>
                    </a>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Fotos</h5>
                </div>
            </div>
        </div>
        <ng-template #noSource>
            <div class="card-img-top cropped d-flex align-items-center justify-content-center">
                <h3>No informada</h3>
            </div>
        </ng-template>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Cerrar</button>
</div>