<div class="col-sm-12 col-lg-12">
    <div class="page-breadcrumb">
        <div class="row page-titles">
            <div class="col-md-6 col-8 align-self-center">
                <h3 class="text-themecolor mb-0 mt-0">{{isNew?'Nuevo':'Editar'}} Usuario</h3>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="javascript:void(0)">Inicio</a></li>
                    <li class="breadcrumb-item active" ><a routerLink="../../../../" >Empresa</a></li>
                    <li class="breadcrumb-item active"><a routerLink="../../../">Sucurales</a></li>
                    <li class="breadcrumb-item active"><a routerLink="../">Usuarios</a></li>
                    <li class="breadcrumb-item active">{{isNew?'Nuevo':'Editar'}} Usuario</li>
                </ol>
            </div>
        </div>
    </div>
    <div class="card">
        <form class="form-horizontal m-t-20" [formGroup]="userForm" (ngSubmit)="isNew?createUserSave():updateUser()"
            id="loginform">
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-4">
                        <label>Usuario</label>
                        <input type="text" class="form-control form-control-sm" placeholder="Usuario" name="username"
                            formControlName="username" required>
                        <div *ngIf="userForm.controls['username'].invalid && (userForm.controls['username'].dirty || userForm.controls['username'].touched)"
                            class="invalid-feedback">
                            Nombre de usuaio requerido
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <label>Nombre </label>
                        <input type="text" class="form-control form-control-sm" placeholder="Nombre" name="first_name"
                            formControlName="first_name" required>
                        <div *ngIf="userForm.controls['first_name'].invalid && (userForm.controls['first_name'].dirty || userForm.controls['first_name'].touched)"
                            class="invalid-feedback">
                            Nombre requerido
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <label>Apellido </label>
                        <input type="text" class="form-control form-control-sm" placeholder="Apellido" name="last_name"
                            formControlName="last_name" required>
                        <div *ngIf="userForm.controls['last_name'].invalid && (userForm.controls['last_name'].dirty || userForm.controls['last_name'].touched)"
                            class="invalid-feedback">
                            Apellido requerido
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-sm-4">
                        <label>RUT <small>(sin puntos ni guiones)</small></label>
                        <input type="text" class="form-control form-control-sm" placeholder="RUT" name="rut"
                            formControlName="rut" required>
                        <div *ngIf="userForm.controls['rut'].invalid && (userForm.controls['rut'].dirty || userForm.controls['rut'].touched)"
                            class="invalid-feedback">
                            <div *ngIf="userForm.controls['rut'].errors.required">
                                RUT requerido
                            </div>
                            <div
                                *ngIf="userForm.controls['rut'].errors.invalidRut || userForm.controls['rut'].errors.requiredLength">
                                RUT incorrecto
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <label>Telefono </label>
                        <input type="text" class="form-control form-control-sm" placeholder="56 xx xxxx xxxx"
                            name="phone" formControlName="phone" mask chileanMask
                            [validation]="false" required>
                        <div *ngIf="userForm.controls['phone'].invalid && (userForm.controls['phone'].dirty || userForm.controls['phone'].touched)"
                            class="invalid-feedback">
                            Teléfono requerido
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <label>E-mail</label>
                        <input type="email" class="form-control form-control-sm" placeholder="E-mail" name="email"
                            formControlName="email" required>
                        <div *ngIf="userForm.controls['email'].invalid && (userForm.controls['email'].dirty || userForm.controls['email'].touched)"
                            class="invalid-feedback">
                            <div *ngIf="userForm.controls['email'].errors.required">
                                E-mail requerido
                            </div>
                            <div *ngIf="userForm.controls['email'].errors.email">
                                Ingrese un E-mail válido
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 mt-3">
                        <label>Tipo de usuario</label>
                        <select class="form-control form-control-sm" name="group" formControlName="group" required>
                            <option *ngFor="let userType of userTypes | async" value="{{userType.name}}">
                                {{userType.human_name}}</option>
                        </select>
                        <div *ngIf="userForm.controls['group'].invalid && (userForm.controls['group'].dirty || userForm.controls['group'].touched)"
                            class="invalid-feedback">
                            Tipo de usuaio requerido
                        </div>
                    </div>
                    <div class="col-sm-4 mt-3" *ngIf="!isNew">
                        <label>Estado</label>
                        <select class="form-control form-control-sm" formControlName="status" name="status">
                            <option value="active">Activo</option>
                            <option value="locked">Bloqueado</option>
                            <option disabled value="disabled">Deshabilitado</option>
                        </select>
                    </div>
                    <div class="col-sm-4 mt-3">
                        <label>Sucursal</label>
                        <select class="form-control form-control-sm" formControlName="branch" name="branch">
                            <option *ngFor="let branch of branchesList | async " value="{{branch.id}}">
                                {{branch.name}}</option>
                        </select>
                    </div>
                </div>
                <br>
                <div class="row d-flex flex-row-reverse">
                    <div class="col-2">
                        <button class="btn btn-block btn-sm btn-success" [disabled]="!userForm.valid || isLoading" type="submit">
                            Guardar</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>