.billing-table{
    td{
        vertical-align: middle;
        padding: 5px;
        td{
            padding: 0;
        }
    }
    .borderless{
        border: 0;
    }
    .w-10{
        width: 10%;
    }
    .w-20{
        width: 20%;
    }
    .w-30{
        width: 30%;
    }
}