<div class="col-sm-12 col-lg-12">
    <div class="page-breadcrumb">
        <div class="row page-titles">
            <div class="col-md-6 col-8 align-self-center">
                <h3 class="text-themecolor mb-0 mt-0">Generar manifiesto de carga</h3>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="javascript:void(0)">Inicio</a></li>
                    <li class="breadcrumb-item active">Generar manifiesto de carga</li>
                </ol>
            </div>
        </div>
        <div class="action-buttons">
            <a class="btn btn-secondary ml-2" [routerLink]="['./list']" title="Historial de Manifiestos">
                <i class="fas fa-history"></i></a>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <div class="row">
                <!-- {{assignForm.invalid}} -->
                <form class="w-100 mx-2" [formGroup]='assignForm' (ngSubmit)="retrieveAssign()">
                    <div class="row">
                        <div class="col-5 form-group">
                            <label for=""><b>Móvil</b></label>
                            <ngx-select
                            [items]="transporters | async"
                            formControlName="transporter"
                            [allowClear]="true"
                            placeholder="Seleccione..."
                            optionTextField="name"
                            (typed)="searchTerm.next($event)"
                            [searchCallback]="search"
                            >
                            </ngx-select>
                        </div>
                        <div class="col-4 form-group">
                            <label for=""><b>Fecha de asignación</b></label>
                            <input type="date" class="form-control" formControlName="log_date">
                        </div>
                        <!-- <div class="col-2 d-flex align-items-center position-relative">
                            <div class="custom-control custom-switch">
                                <input type="checkbox" class="custom-control-input" id="allSwitch" formControlName="all">
                                <label class="custom-control-label" for="allSwitch"><b>Todos los pendientes</b></label>
                            </div>
                        </div> -->
                        <div class="col-3 d-flex align-items-center justify-content-center">
                            <button (click)="printReport()" type="button" title="Imprimir" class="btn btn-warning px-3" [disabled]="assignForm.invalid || isLoading"><i class="fas fa-print"></i></button>
                            <a class="btn btn-info ml-2 px-3" title="Rutas" [routerLink]="['../routes']" [queryParams]="assignForm.value" target="_blank" [class.disabled]="assignForm.invalid || isLoading"><i class="fas fa-map"></i></a>
                            <button type="submit" title="Buscar" class="btn btn-primary ml-2 px-3" [disabled]="assignForm.invalid || isLoading"><i class="fas fa-search"></i></button>
                        </div>
                    </div>
                    <div class="services-list">
                        <h5>Órdenes de transporte</h5>
                        <div class="scrollmenu">
                            <table #TableListOt datatable [dtOptions]="dtOptions" class="row-border hover w-100">
                                <thead>
                                    <tr>
                                        <th>Nº</th>
                                        <th>Empresa</th>
                                        <th>Origen</th>
                                        <th>Destino</th>     
                                        <th>Fecha Creación</th>
                                        <th>Días de atraso</th>
                                        <th>Tipo servicio</th>
                                        <th>Patente</th>
                                        <th>Comuna</th>
                                        <th>Estado</th>
                                        <th>Fecha último estado</th>
                                        <th>Conductor</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody *ngIf="pageAssigns?.length != 0">
                                    <tr *ngFor="let log of pageAssigns">
                                        <td>{{log.work_order.barcode}}</td>
                                        <td>{{log.work_order.company}}</td>
                                        <td>{{log.work_order.sender_address}}</td>
                                        <td>{{log.work_order.receiver_address}}</td>
                                        <td>{{log.work_order.created_at}}</td>
                                        <td>{{restaFechas(today,log.work_order.created_at)}}</td>
                                        <td>{{log.work_order.service_name}}</td>
                                        <td>{{log.work_order.current_plate}}</td>
                                        <td>{{log.work_order.receiver_comune}}</td>
                                        <td [ngClass]="{
                                            'text-success': log.work_order.current_step.name == 'Exitoso',
                                            'text-danger': log.work_order.current_step.name == 'Fallido',
                                            'text-warning': log.work_order.current_step.name == 'Solicitado',
                                            'text-secondary': log.work_order.current_step.name == 'Anulado'
                                        }">{{log.work_order.current_step.name}}</td>
                                        <td>{{log.work_order.last_log.created_at | date:'dd-MM-yyyy HH:mm'}}</td>
                                        <td>{{log.work_order.transporter}}</td>
                                    </tr>
                                </tbody>
                                <tbody *ngIf="pageAssigns?.length == 0">
                                    <tr>
                                        <td colspan="3" class="no-data-available">No se encontraron resultados</td>
                                    </tr>
                                <tbody>
                            </table>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>