<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Asignación</h4> 
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <button class="btn btn-danger pull-right" (click)="OpenAsig()" title="Manifiesto de Carga"><i class="fas fa-file-alt"></i></button>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<form [formGroup]="asigForm">
    <div class="modal-body">
        <div class="row">
            <div class="col-sm-4 col-center">
                <label>Selecionar Pantente </label>
                <ngx-select
                    [items]="lisPatente"
                    formControlName="transport"
                    [allowClear]="true"
                    placeholder="Seleccione..."
                    optionTextField="plate"
                    size="small"
                    (typed)="searchTermPatente.next($event)"
                    (select)="selectPatente($event)"
                    [searchCallback]="search">
                </ngx-select>
                <!-- <select class="custom-select form-control-sm" formControlName="transporter" name='transporter'
                    placeholder="Seleccione" required>
                    <option [value]="item.id" *ngFor="let item of listBiker">{{item.name}}</option>
                </select> -->
                <div *ngIf="asigForm.controls['transport'].invalid && (asigForm.controls['transport'].dirty || asigForm.controls['transport'].touched)"
                    class="invalid-feedback">
                    Pantente es requerida
                </div>
            </div>
            <div class="col-sm-4 col-center">
                <label>Tipo vehiculo </label>
                <input type="text"  value="{{tipoVehiculo}}" class="form-control form-control-sm" disabled>
            </div>
        </div>
        <br>
        
        <div class="row">
            <div class="col-sm-10 col-center">
                <label>Selecionar Conductor </label>
                <ngx-select
                    [items]="transporters | async"
                    formControlName="transporter"
                    [allowClear]="true"
                    placeholder="Seleccione..."
                    optionTextField="name"
                    size="small"
                    (typed)="searchTerm.next($event)"
                    [searchCallback]="search">
                </ngx-select>
                <div *ngIf="asigForm.controls['transporter'].invalid && (asigForm.controls['transporter'].dirty || asigForm.controls['transporter'].touched)"
                    class="invalid-feedback">
                    Conductor es requerido
                </div>
            </div>
        </div>
        <br>
        <ng-container *ngIf="inputPeoneta">
        <div class="row">
            <div class="col-sm-10 col-center">
                <label>Selecionar Peoneta </label>
                <ngx-select
                    [items]="peoneta | async"
                    formControlName="transporter_helper"
                    [allowClear]="true"
                    placeholder="Seleccione..."
                    optionTextField="name"
                    size="small"
                    (typed)="searchTermPeoneta.next($event)"
                    [searchCallback]="search">
                </ngx-select>
                <!-- <select class="custom-select form-control-sm" formControlName="transporter" name='transporter'
                    placeholder="Seleccione" required>
                    <option [value]="item.id" *ngFor="let item of listBiker">{{item.name}}</option>
                </select> -->
                <div *ngIf="asigForm.controls['transporter_helper'].invalid && (asigForm.controls['transporter_helper'].dirty || asigForm.controls['transporter_helper'].touched)"
                    class="invalid-feedback">
                    Conductor es requerido
                </div>
            </div>
        </div>
        <br>
        </ng-container>
        <div class="row">
            <div class="col-sm-10 col-center">
                <label>Código de barra </label>
                <input type="text" class="form-control form-control-sm" formControlName="barcode"
                    placeholder="Código de barra" name="barcode" (keyup.enter)="saveAsig()" autofocus required
                    autocomplete="off">
                <!-- (focus)="submitFormAsig()" -->
                <div *ngIf="asigForm.controls['barcode'].invalid && (asigForm.controls['barcode'].dirty || asigForm.controls['barcode'].touched)"
                    class="invalid-feedback">
                    Código de barras requerido
                </div>
            </div>
            <br>
        </div>
        <br>
        <div class="row">
            <div class="col-sm-10 col-center">
                <table datatable [dtOptions]="dtOptionsTableModalAsig" [dtTrigger]="dtTrigger" class="table no-wrap w-100">
                    <thead>
                        <tr>
                            <th>Ot</th>
                            <th>Conductor</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- <div class="modal-footer">
        <button type="submit" [disabled]="!asigFrom.valid" class="btn btn-outline-dark">Guardar</button> 
    </div> -->
</form>